/* google fonts added */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

button {
    padding: 15px 28px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: #E55473;
    cursor: pointer;

}

button:hover {
    background-color: #2BA8A8;
}



.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;

}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}


header {
    background: rgba(229, 84, 115, 0.10);
}



.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-image img {
    width: 100%;
    vertical-align: middle;
}


/* Our Featured Flowers Section */

.featured-flowers {
    margin-top: 120px;
}

.flowers-title {
    text-align: center;
    padding: 0 200px;
}

.flowers {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    margin-top: 30px;
}



.flowers .flower img {
    width: 90%;
    border-radius: 300px 300px 0px 0px;
    padding: 20px 20px 0px 20px;
    height: 450px;

}

.flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.bg-1 {
    background: rgba(167, 33, 98, 0.15);
}

.bg-2 {

    background: rgba(5, 151, 160, 0.15);
}

.bg-3 {

    background: rgba(71, 125, 17, 0.15);
}


/* Icons Section Related CSS */

.icons-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 60px 0;
}

.icons {
    display: flex;
    justify-content: space-around;

}

.icons .icon {
    text-align: center;
}

.icons .icon p {
    margin-top: 20px;
}



/* Hot Deal Section CSS */

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 186px;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
    margin-bottom: 128px;
}

.hot-deal-part-1 {
    text-align: center;
}

.hot-deal-part-1 * {
    margin-bottom: 32px;
}

.imp {
    color: #E55473;
}

/* Instagram Section CSS */

.instagram-part-1 p {
    padding: 0 200px;
    text-align: center;
}

.instagram-part-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 30px;
}

.instagram-part-2 img {
    width: 100%;

}

/* Latest Deals CSS */

.latest-deals {
    background-image: url("../images/Rectangle\ 9.png");
    background-size: cover;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
}


.latest-deal-part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
}

.latest-deal-part-2 input {
    padding: 18px 300px 18px 18px;
    border: none;
    border-radius: 8px;

}




/* Footer Part CSS */

footer p {
    color: white;
    text-align: center;
}

.flower-shop-footer {
    margin-top: 120px;
    background: #111010;
    color: white;
    text-align: center;
    padding: 100px 375px;

}

.flower-shop-footer * {
    margin-bottom: 20px;
}



/*  Responsive Design */

@media (max-width:640px) {


    p {
        font-size: 18px;
    }

    button {
        padding: 12px 22px;
        font-size: 15px;
    }

    .section-title {
        font-size: 20px;
        margin-bottom: 10px;
    }


    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner .banner-text h1 {
        font-size: 40px;
    }



    .banner .banner-image img {
        width: 90%;
        vertical-align: middle;
    }



    /* Responsive Our Featured Flowers Section */

    .featured-flowers {
        margin-top: 50px;
    }

    .flowers-title {
        padding: 0 30px;
    }

    .flowers {
        flex-direction: column;

    }



    .flowers .flower img {
        width: 95%;
        height: 450px;

    }

    .flower p {
        font-size: 18px;
    }






    /* Responsive Icons Section Related CSS */

    .icons-section {
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 50px 20px;
    }

    .icons {
        flex-direction: column;
        gap: 50px
    }



    /* Responsive Hot Deal Section CSS */

    .hot-deal {
        flex-direction: column;
        gap: 50px;
        padding: 50px 30px;
        margin-bottom: 50px;
    }


    .hot-deal-part-1 * {
        margin-bottom: 16px;
    }

    .hot-deal-part-2 img {
        width: 90%;
    }

    /* Responsive Instagram Section CSS */

    .instagram-part-1 p {
        padding: 0 30px;
    }

    .instagram-part-2 {
        grid-template-columns: repeat(1, 1fr);

    }


    /* Responsive Latest Deals CSS */

    .latest-deals {
        padding: 30px;
        margin-top: 50px;

    }


    .latest-deal-part-2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 10px;
    }

    .latest-deal-part-2 input {
        padding: 10px 50px 10px 10px;

    }


    /* Responsive Footer Part CSS */

    .flower-shop-footer {
        padding: 50px;
        margin-top: 50px;
    }


}